body {
    font-family: 'Montserrat', sans-serif;
    background-color: rgb(255, 241, 205);
}

.navbar {
    /* background-color: rgb(255, 241, 205); */
    background-color: rgba(97, 19, 25, 1);
}

.logo-brand {
    width: 50px;
}

/* Banner */
.banner img {
    width: 100%;
    border-radius: 15px;
}
/* end banner */

/* pilih categories */
.pilih-categories .card {
    border-radius: 15px;
    border: none;
    background-color: rgba(255, 232,174, 1);
}
.pilih-categories img {
    max-height: 100px;
}

/* produk pilihan */
.produk .card {
    border-radius: 15px;
    /* border: none; */
}

/* breadcrumb */
.breadcrumb {
    background-color: transparent;
}
.breadcrumb a {
    text-decoration: none;
    color: black;
}
.breadcrumb .active {
    font-weight: bold;
    color: rgba(97, 19, 25, 1);
}

/* button detail */
.btn-dark {
    border-radius: 10px;
    border: none;
    background-color: rgba(97, 19, 25, 1);
    color: rgba(255, 232,174, 1);
}
.btn-dark:hover {
    background-color: rgba(255, 232,174, 1);
    color: rgba(97, 19, 25, 1);
    
}

/* pagination */
.pagination .page-item.active .page-link {
    background-color: rgba(97, 19, 25, 1); 
    border-color: white;     
    color: white;
}